.select {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid #eee;
    outline: none;
}

.select:hover{
    background-color: #eee;
}


.invalid {
    border-bottom: 2px solid red;
    // background-color: #FDA49A;
}