.commonStyle {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
}

.commonStyle:hover{
    background-color: #eee;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}