.div {
    border-bottom: 1px solid #eee;    
}
 
.div:hover{
    border-bottom: 2px solid grey;
    background-color: #eee;
}

.input {
    width: 90%;
    border-style: hidden;
    outline: none;
}

.prefix{
    text-decoration: none;
    color: black;
    font-size: small;
    padding: 1px 0px;
}

.prefix:hover{
    background-color: #eee;
}

.input:hover{
    background-color: #eee;
}

.invalid {
    border-bottom: 2px solid red;
}